.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 140px;
}

@media (max-width: 1140px) {
    .container {
        max-width: 1440px;
        margin: 0 auto;
        padding: 0 20px;
    }
}