:root {
    --padding: 40px 132px;
    --padding-prof-block: 160px 132px;
}

@font-face {
    font-family: "Manrope";
    src: url("../../../fonts/Manrope.ttf")format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Manmore";
    src: url("../../../fonts/Manrope.ttf")format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../../../fonts/Roboto.ttf")format('woff2');
}

body {
    font-family: "Manmore";
    margin: 0;
}

@media (min-width: 1600px) {
    body {
        zoom: 1.25;
        transform-origin: top center;
    }
}


.header {
    position: absolute;
    display: flex;
    justify-content: center;
    height: auto;
    z-index: 5;
    width: 100%;
}

.header__container {
    padding: var(--padding);
    width: 100%;
}

.header__content {
    background: rgba(255, 255, 255, 1);
    border-radius: 21px;
    display: flex;
    flex-direction: row;
    padding: 10px 100px;
    justify-content: space-between;
    align-items: center;
}

.header__buttons--shop a {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -3%;
    text-decoration: none;
    color: rgba(0, 0, 0, 1);
}

.header__buttons--img img {
    width: 60px;
    height: 60px;
}

.header__links--item {
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -3%;
}

.shop {
    display: none;
}

.header__links {
    display: flex;
    column-gap: 20px;
    flex-direction: row;
}

.header__links a {
    color: rgba(0, 0, 0, 1);
    text-decoration: none;
}

.header__burger {
    display: none;
    width: 30px;
    height: 20px;
    position: relative;
    cursor: pointer;
}

.header__burger span {
    display: block;
    width: 100%;
    height: 3px;
    background: #000;
    border-radius: 2px;
    margin: 5px 0;
    transition: 0.3s;
}

.header__buttons {
    display: flex;
    column-gap: 20px;
    flex-direction: row;
    margin-left: 100px;
    align-items: center;
}

/* edit */

.edit__fon {
    background-color: rgba(196, 52, 24, 1);
    height: 200px;
}

.edit__header--image {
    height: 50px;
    width: 100%;
}

.edit__container {
    padding: var(--padding-prof-block);
    display: flex;
    flex-direction: row;
    min-height: 716px;
}

.edit__sidebar--item {
    display: flex;
    flex-direction: row;
    gap: 10px;
    padding: 10px 20px;
    align-items: center;
}

.edit__content--footer,
.edit__social--footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit__content--footer a {
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    text-decoration: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 6%;
    color: rgba(196, 50, 26, 1);
}

.edit__content--footer button,
.edit__social--footer button {
    opacity: 1;
    border-radius: 8px;
    padding: 10px;
    gap: 10px;
    background: rgba(196, 50, 26, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    border: none;
    min-width: 180px;
}

.edit__sidebar .active {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: rgba(196, 50, 26, 1);
}

.edit__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.edit__content--item {
    width: 680px;
}

.edit__content--item {
    display: none;
}

.edit__verification--text {
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    margin: 0;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

.edit__verification--checkout {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.edit__verification--checkout input[type="checkbox"]:checked {
    accent-color: #C4321A;
    background: white;
}

.edit__verification--checkout input {
    width: 14px;
    height: 14px;
    border: 1px solid rgba(0, 0, 0, 1);
}

.edit__verification--checkout p span {
    color: rgba(196, 50, 26, 1);
    text-decoration: underline;
}

.edit__verification--button button {
    min-width: 180px;
    gap: 10px;
    border-radius: 8px;
    border: none;
    padding: 10px;
    background: rgba(196, 50, 26, 1);
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(255, 255, 255, 1);
}

.edit__social--container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit__social--input {
    position: relative;
    display: flex;
    flex-direction: column;
}

.edit__social--input div {
    width: 25px;
    height: 25px;
    position: absolute;
    left: 25px;
    top: 12px;
    align-content: center;
}

.edit__social--input img {
    width: 100%;
}

.edit__social--input input {
    border-radius: 31px;
    padding-right: 52px;
    padding-left: 58px;
    height: 43px;
    border: 1px solid rgba(146, 144, 144, 1);
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
}

.edit__verification--button button:disabled {
    background-color: rgba(197, 197, 197, 1);
}

.edit__verification--checkout p {
    margin: 0;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: bottom;
    text-decoration-style: solid;
    text-decoration-thickness: 6%;
    color: rgba(0, 0, 0, 1);
}

.edit__social--footer {
    justify-content: right;
}

.edit__black--block {
    display: flex;
    flex-direction: column;
}

.edit__black--item {
    opacity: 1;
    padding-top: 20px;
    padding-right: 52px;
    padding-bottom: 20px;
    gap: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.edit__black--item div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.edit__black--item div img{
    width: 36px;
    height: 36px;
}

.edit__black--item button {
    opacity: 1;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    gap: 10px;
    border-radius: 25px;
    background-color: rgba(196, 50, 26, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    border: none;
}

.edit__black--item p {
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    margin: 0;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

.edit__sessions-text {
    font-weight: 500;
    font-size: 23px;
    line-height: 26px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
    margin: 0;
}

.edit__sessions--container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.edit__sessions--item {
    opacity: 1;
    border-width: 1px;
    padding-top: 20px;
    padding-right: 52px;
    padding-bottom: 20px;
    padding-left: 25px;
    gap: 20px;
    border: 1px solid rgba(197, 197, 197, 1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.edit__sessions--footer-text {
    font-weight: 300;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
    margin: 0;
    color: rgba(120, 120, 120, 1);
}

.edit__sessions--block {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.edit__sessions--info {
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.edit__sessions--info p {
    margin: 0px;
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
}

.edit__sessions--date p {
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
}

.edit__sessions--item img {
    width: 24px;
    height: 24px;
}

.edit__content--item.active {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.edit__content--profile h2 {
    margin: 0 0 20px 0;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 43px;
    line-height: 90%;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

.edit__content--input {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    position: relative;
}

.edit__content--input p {
    font-weight: 500;
    font-size: 23px;
    margin: 0;
    line-height: 26px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

.edit__content--input input {
    border-radius: 31px;
    padding-right: 52px;
    padding-left: 25px;
    height: 43px;
    border: 1px solid rgba(146, 144, 144, 1);
    font-weight: 300;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
}

.edit__content--input button {
    right: 5px;
    opacity: 1;
    border-radius: 25px;
    gap: 10px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;
    background: rgba(196, 50, 26, 1);
    position: absolute;
    border: none;
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    bottom: 5px;
}

.edit__content--profile {
    flex-direction: column;
    display: flex;
    gap: 30px;
}

.edit__block--input p {
    margin: 0 0 20px 0;
    font-weight: 500;
    font-size: 23px;
    line-height: 26px;
    letter-spacing: 0%;
    color: rgba(0, 0, 0, 1);
}

.edit__content--input input::placeholder {
    color: rgba(197, 197, 197, 1);
}

.edit__block--input button {
    opacity: 1;
    border-width: 1px;
    border-radius: 10px;
    gap: 10px;
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
    border: 1px solid rgba(120, 120, 120, 1);
    font-weight: 500;
    font-size: 14px;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    align-items: center;
    color: rgba(0, 0, 0, 1);
    display: flex;
    background: none;
    gap: 10px;
}

.edit__block--input button img {
    width: 24px;
    height: 24px;
}

.edit__sidebar .active p {
    color: rgba(255, 255, 255, 1);
}

.edit__sidebar--item p {
    font-family: "Manmore";
    font-weight: 500;
    font-size: 14px;
    margin: 0;
    line-height: 27px;
    letter-spacing: 0%;
    text-align: center;
    color: rgba(0, 0, 0, 1);
}

.edit__sidebar--item-image {
    width: 24px;
    height: 24px;
}

.edit__sidebar--item-image img {
    height: 100%;
}

.edit__sidebar {
    min-width: 200px;
}

/* footer */
.footer {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    background: rgba(17, 4, 1, 1);
    flex-direction: column;
    align-items: center;
}

.footer__container {
    width: 80%;
    padding: 40px 0px;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #fff;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    line-height: 35px;
}

.down {

    display: flex;
    flex-direction: row;
    padding: 15px;
}

.footer__container p {
    margin: 0;
}

.footer__container h4 {
    margin: 0;
}

.down h3 {
    font-weight: 300;
    font-size: 14px;
    letter-spacing: -0.03em;
    color: #000;
}

.footer .block-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.footer__item--btb {
    height: 23px;
}

.footer__item--header {
    display: flex;
    gap: 10px;
}

.footer__item--im {
    width: 20px;
}

.footer__item--a {
    width: 16px;
}

.footer__item--xalva {
    height: 12px;
}

.footer__item--container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px
}


.footer__logo {
    height: 16px;
    width: 100%;
}

.footer__down {
    background: white;
    width: 100%;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -3%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media (max-width: 1340px) {
    :root {
        --padding: 50px;
    }
}

@media (max-width: 1140px) {
    .header__burger {
        display: block;
        margin-bottom: 10px;
    }

    .footer__container {
        flex-direction: column;
    }

    .footer__down {
        padding: 20px 20px;
        flex-direction: column;
        gap: 20px;
    }

    footer .active {
        background: none;
        border: none;
        box-shadow: none;
    }

    .header__links {
        display: none;
        flex-direction: column;
        background: #fff;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        padding: 20px;
        row-gap: 14px;
    }

    .header__links.active {
        display: flex;
    }

    .header__buttons {
        display: none;
    }

    .header__container {
        padding: 0;
    }

    .header__content {
        border-radius: 0;
        padding: 20px;
    }

    :root {
        --padding: 40px 20px;
    }
}