* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    outline-offset: 0;
    border-radius: 0;
    background-color: transparent;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}