{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}На ковчеге - Платформа для поддержки российской культуры{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/header/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/profile/stylePersonalAccountSideBar.css' %}" />
    {% block extra_head %}{% endblock %}
</head>
<body>
    <header class="header">
        {% block header %}
        {% endblock %}
    </header>
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
    
    <footer class="footer">
        {% block footer %}
            <p>Футер сайта</p>
        {% endblock %}
    </footer>
    
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>    
<script src="{% static 'js/allModals/cookiesForModals.js' %}"></script>
    {% block extra_scripts %}
    {% endblock %}

</body>
</html>