:root {
    --color-primary: #C4321A;
    --color-warning: #E5B31A;
    --color-black: #110401;
    --color-white: #fff;
    --color-grey: #C5C5C5;
    --color-grey-dark: #787878;
    --color-text: #000;
}






