{% load static %}
<section class="first-section">
      <img src="{% static 'images/home/main.png' %}" class="background-image">
      <div class="content">
        <div class="search-container">
          <input type="text" class="search-input" placeholder="Поиск автора">
          <div class="search-icon">
            <div class="circle"><img src="{% static 'images/home/Union.png' %}"></div>
          </div>
        </div>
        <div class="stats">
          <div class="stats-block-text helvetica-text">
            <h2>1 921</h2>
            <p>участников</p>
          </div>
          <div class="stats-block-text helvetica-text">
            <h2>3 645</h2>
            <p>проектов</p>
          </div>
        </div>
        <h2 class="text helvetica-text">То, что ты делаешь – круто!</h2>
        <div class="bottom-button">
          <a href="#" class="transparent-button active">Стать автором</a>
        </div>
      </div>
    </section>