{% load static %}
<section class="five-section">
      <div class="arrows">
        <div class="arrow-left"></div>
        <div class="arrow-right"></div>
      </div>
      <div class="content">
        <h2>Часто задаваемые вопросы<img class="questions__img" src="{% static 'images/home/Frame_37.png' %}"></h2>
        <div class="text-block">
          <div class="how-it-works">
            <div class="container">
              <div class="header">
                <h3 class="section-title">Как работает платформа?</h3>
              </div>
              <div class="steps-grid">
                <div class="step-item">
                  <img src="{% static 'images/home/Vector1.png' %}">
                  <div class="step-content">
                    <p class="step-description">Зарегистрируйся и создай свой профиль</p>
                    <p class="step-description">Создай свой профиль на платформе «На ковчеге»</p>
                  </div>
                  <div class="step-arrow">
                    <img src="{% static 'images/home/Arrow.png' %}">
                  </div>
                </div>
                <div class="step-item">
                  <img src="{% static 'images/home/Vector2.png' %}">
                  <div class="step-content">
                    <p class="step-description">Сообщи подписчикам</p>
                    <p class="step-description">Расскажи своим подписчикам, что ты теперь есть на платформе «На ковчеге»
                    </p>
                  </div>
                  <div class="step-arrow">
                    <img src="{% static 'images/home/Arrow.png' %}">
                  </div>
                </div>
                <div class="step-item">
                  <img src="{% static 'images/home/Vector3.png' %}">
                  <div class="step-content">
                    <p class="step-description">Проявляй активность</p>
                    <p class="step-description">Вовлекай аудиторию и получай донаты за свою активность</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="how-it-works">
            <div class="container">
              <div class="header">
                <h3 class="section-title">Как работает платформа?</h3>
              </div>
              <div class="steps-grid">
                <div class="step-item">
                  <img src="{% static 'images/home/Vector1.png' %}">
                  <div class="step-content">
                    <p class="step-description">Зарегистрируйся и создай свой профиль</p>
                    <p class="step-description">Создай свой профиль на платформе «На ковчеге»</p>
                  </div>
                  <div class="step-arrow">
                    <img src="{% static 'images/home/Arrow.png' %}">
                  </div>
                </div>
                <div class="step-item">
                  <img src="{% static 'images/home/Vector2.png' %}">
                  <div class="step-content">
                    <p class="step-description">Сообщи подписчикам</p>
                    <p class="step-description">Расскажи своим подписчикам, что ты теперь есть на платформе «На ковчеге»
                    </p>
                  </div>
                  <div class="step-arrow">
                    <img src="{% static 'images/home/Arrow.png' %}">
                  </div>
                </div>
                <div class="step-item">
                  <img src="{% static 'images/home/Vector3.png' %}">
                  <div class="step-content">
                    <p class="step-description">Проявляй активность</p>
                    <p class="step-description">Вовлекай аудиторию и получай донаты за свою активность</p>
                  </div>
                </div>
              </div>
            </div>
          </div><div class="how-it-works">
            <div class="container">
              <div class="header">
                <h3 class="section-title">Как работает платформа?</h3>
              </div>
              <div class="steps-grid">
                <div class="step-item">
                  <img src="{% static 'images/home/Vector1.png' %}">
                  <div class="step-content">
                    <p class="step-description">Зарегистрируйся и создай свой профиль</p>
                    <p class="step-description">Создай свой профиль на платформе «На ковчеге»</p>
                  </div>
                  <div class="step-arrow">
                    <img src="{% static 'images/home/Arrow.png' %}">
                  </div>
                </div>
                <div class="step-item">
                  <img src="{% static 'images/home/Vector2.png' %}">
                  <div class="step-content">
                    <p class="step-description">Сообщи подписчикам</p>
                    <p class="step-description">Расскажи своим подписчикам, что ты теперь есть на платформе «На ковчеге»
                    </p>
                  </div>
                  <div class="step-arrow">
                    <img src="{% static 'images/home/Arrow.png' %}">
                  </div>
                </div>
                <div class="step-item">
                  <img src="{% static 'images/home/Vector3.png' %}">
                  <div class="step-content">
                    <p class="step-description">Проявляй активность</p>
                    <p class="step-description">Вовлекай аудиторию и получай донаты за свою активность</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="dots-block">
          <div class="circle active" data-index="0"></div>
          <div class="circle" data-index="1"></div>
          <div class="circle" data-index="2"></div>
      </div>
      </div>
    </section>