{% load static %}
        <section class="fourth-section">
        <div class="arrows">
            <div class="arrow arrow-left"></div>
            <div class="arrow arrow-right"></div>
        </div>
        <div class="content">
            <h2>
                Правила платформы
                <svg width="24" height="23" viewBox="0 0 23 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M10.35 14.95H12.65V17.25H10.35V14.95ZM10.35 5.75H12.65V12.65H10.35V5.75ZM11.5 0C5.1405 0 0 5.175 0 11.5C0 14.55 1.2116 17.4751 3.36827 19.6317C4.43615 20.6996 5.7039 21.5467 7.09914 22.1246C8.49438 22.7025 9.9898 23 11.5 23C14.55 23 17.4751 21.7884 19.6317 19.6317C21.7884 17.4751 23 14.55 23 11.5C23 9.9898 22.7025 8.49438 22.1246 7.09914C21.5467 5.7039 20.6996 4.43615 19.6317 3.36827C18.5639 2.3004 17.2961 1.45331 15.9009 0.875385C14.5056 0.297456 13.0102 0 11.5 0ZM11.5 20.7C9.06001 20.7 6.71995 19.7307 4.99462 18.0054C3.26928 16.28 2.3 13.94 2.3 11.5C2.3 9.06001 3.26928 6.71995 4.99462 4.99462C6.71995 3.26928 9.06001 2.3 11.5 2.3C13.94 2.3 16.28 3.26928 18.0054 4.99462C19.7307 6.71995 20.7 9.06001 20.7 11.5C20.7 13.94 19.7307 16.28 18.0054 18.0054C16.28 19.7307 13.94 20.7 11.5 20.7Z"
                      fill="#C4321A" />
                </svg>
            </h2>
            <div class="slides-container">
                <div class="slides-wrapper">
                    <div class="slide">
                        <h3>I. Миссия платформы</h3>
                        <p>Поддержка и развитие творческих проектов, отражающих богатое культурное наследие России и её
                            многонационального народа. Наша цель – сохранить и популяризировать традиции, искусство, историю и
                            самобытность регионов России, избегая любых политических дискуссий.</p>
                            <h3>II. Запрещённый контент</h3>
                        <p>1. Политика: Любое упоминание политических партий, деятелей, событий, идеологий, а также высказывания
                            политического характера строго запрещены. Контент должен быть исключительно культурно-ориентированным.</p>
                        <p>2. Экстремизм и ненависть: Материалы, содержащие призывы к насилию, ненависти, дискриминации по любому
                            признаку (национальность, религия, пол, сексуальная ориентация и т.д.) не допускаются.</p>
                          <p>3. Нецензурная лексика: Использование ненормативной лексики запрещено.</p>
                        <p>4. Контент 18+: Материалы сексуального характера, пропаганда наркотиков, алкоголя и насилия запрещены.</p>
                        <p>5. Нарушение авторских прав: Использование контента, защищенного авторскими правами, без разрешения
                            правообладателя.</p>
                        <p>6. Мошенничество: Любые попытки обмана пользователей с целью получения материальной выгоды.</p>
                        <p>7. Спам: Массовая рассылка нежелательной информации.</p>
                        <p>8. Реклама, не соответствующая тематике: Размещение рекламы, не связанной с русской культурой или
                            искусством.</p>
                    </div>
                                        <div class="slide">
                        <h3>I. Миссия платформы</h3>
                        <p>Поддержка и развитие творческих проектов, отражающих богатое культурное наследие России и её
                            многонационального народа. Наша цель – сохранить и популяризировать традиции, искусство, историю и
                            самобытность регионов России, избегая любых политических дискуссий.</p>
                            <h3>II. Запрещённый контент</h3>
                        <p>1. Политика: Любое упоминание политических партий, деятелей, событий, идеологий, а также высказывания
                            политического характера строго запрещены. Контент должен быть исключительно культурно-ориентированным.</p>
                        <p>2. Экстремизм и ненависть: Материалы, содержащие призывы к насилию, ненависти, дискриминации по любому
                            признаку (национальность, религия, пол, сексуальная ориентация и т.д.) не допускаются.</p>
                            <p>3. Нецензурная лексика: Использование ненормативной лексики запрещено.</p>
                        <p>4. Контент 18+: Материалы сексуального характера, пропаганда наркотиков, алкоголя и насилия запрещены.</p>
                        <p>5. Нарушение авторских прав: Использование контента, защищенного авторскими правами, без разрешения
                            правообладателя.</p>
                        <p>6. Мошенничество: Любые попытки обмана пользователей с целью получения материальной выгоды.</p>
                        <p>7. Спам: Массовая рассылка нежелательной информации.</p>
                        <p>8. Реклама, не соответствующая тематике: Размещение рекламы, не связанной с русской культурой или
                            искусством.</p>
                    </div>
                                        <div class="slide">
                        <h3>I. Миссия платформы</h3>
                        <p>Поддержка и развитие творческих проектов, отражающих богатое культурное наследие России и её
                            многонационального народа. Наша цель – сохранить и популяризировать традиции, искусство, историю и
                            самобытность регионов России, избегая любых политических дискуссий.</p>
                            <h3>II. Запрещённый контент</h3>
                        <p>1. Политика: Любое упоминание политических партий, деятелей, событий, идеологий, а также высказывания
                            политического характера строго запрещены. Контент должен быть исключительно культурно-ориентированным.</p>
                        <p>2. Экстремизм и ненависть: Материалы, содержащие призывы к насилию, ненависти, дискриминации по любому
                            признаку (национальность, религия, пол, сексуальная ориентация и т.д.) не допускаются.</p>
                            <p>3. Нецензурная лексика: Использование ненормативной лексики запрещено.</p>
                        <p>4. Контент 18+: Материалы сексуального характера, пропаганда наркотиков, алкоголя и насилия запрещены.</p>
                        <p>5. Нарушение авторских прав: Использование контента, защищенного авторскими правами, без разрешения
                            правообладателя.</p>
                        <p>6. Мошенничество: Любые попытки обмана пользователей с целью получения материальной выгоды.</p>
                        <p>7. Спам: Массовая рассылка нежелательной информации.</p>
                        <p>8. Реклама, не соответствующая тематике: Размещение рекламы, не связанной с русской культурой или
                            искусством.</p>
                    </div>
                </div>
            </div>
            <div class="dots-block">
                <div class="circle active" data-index="0"></div>
                <div class="circle" data-index="1"></div>
                <div class="circle" data-index="2"></div>
            </div>
        </div>
    </section>