{% load static %}
<section class="second-section">
      <div class="overlay"></div>
      <div class="pdf-content">
        <div class="stats-grid">
          <div class="stat-item">
            <div class="stat-number">144 <span>млн</span></div>
            <div class="stat-label">человек</div>
          </div>
          <div class="stat-item">
            <div class="stat-number">190</div>
            <div class="stat-label">народов</div>
          </div>
          <div class="stat-item">
            <div class="stat-number">150</div>
            <div class="stat-label">языков</div>
          </div>
          <div class="stat-item">
            <div class="stat-number">10 000</div>
            <div class="stat-label">километров</div>
          </div>
        </div>
        <h2>бессчетное количество талантов</h2>
      </div>
    </section>