{% load static %}
<section class="six-section">
      <img src="{% static 'images/home/Rectangle_38.png' %}" class="background-image">
      <img src="{% static 'images/home/Group_20.png' %}" class="divider-image">
      <div class="overlay"></div>
      <div class="content">
        <h2 class="text helvetica-text">То, что ты делаешь – круто!</h2>
        <div class="bottom-button">
          <a href="#" class="transparent-button active">Стать автором</a>
        </div>
      </div>
    </section>