{% load static %}
<section class="third-section">
      <img src="{% static 'images/home/Group_12.png' %}" class="divider-image">
      <div class="content">
        <h2>Как использовать?</h2>
        <div class="buttons-grid">
          <div class="button-item">
            <button class="transparent-button">Видеоблогерам</button>
          </div>
          <div class="button-split">
            |
          </div>
          <div class="button-item">
            <button class="transparent-button">Подкастерам</button>
          </div>
          <div class="button-split">
            |
          </div>
          <div class="button-item">
            <button class="transparent-button transparent-button-active">Художникам</button>
          </div>
          <div class="button-split">
            |
          </div>
          <div class="button-item">
            <button class="transparent-button">Музыкантам</button>
          </div>
          <div class="button-split">
            |
          </div>
          <div class="button-item">
            <button class="transparent-button">Журналистам</button>
          </div>
        </div>
        <div class="offers">
          <div class="block-text">
            <h2>Вы можете предложить подписчикам:</h2>
            <div class="block-sentense">
              <img src="{% static 'images/home/icon1.png' %}">
              <a>Сувенирная продукция с вашими картинами</a>
            </div>
            <div class="block-sentense">
              <img src="{% static 'images/home/icon2.png' %}">
              <a>Пошаговое видео процесса рисования</a>
            </div>
            <div class="block-sentense">
              <img src="{% static 'images/home/icon3.png' %}">
              <a>Приобретение одной из ваших картин</a>
            </div>
            <div class="block-sentense">
              <img src="{% static 'images/home/icon4.png' %}">
              <a>Видео-уроки и мастер-классы </a>
            </div>
          </div>
          <div class="block-image"></div>
        </div>
      </div>
    </section>