 .article__share-icon {
    height: 48px;
    width: 48px;
    cursor: pointer;
}
.playback-button {
    background-color: transparent;
    padding: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    max-height: 72px;
    max-width: 72px;
    &__icon {
        width: 100%;
        height: 100%;
    }
    &:hover {
        background-color: transparent;
    }
    &:active {
        background-color: transparent;
    }
}

.profile__articles {
    padding-bottom: 40px;
}

.articles {
    &__topbar {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 60px 0;
    }

    &__title {
        margin: 0;
        font-family: "Roboto";
        font-weight: 700;
        font-size: 43px;
        line-height: 90%;
    }

    &__filter {}
}

.header {
    position: relative;
    padding: 0;
    &__container {
        padding: 90px 40px 95px;
    }
    &__buttons {
        gap: 30px;
    }
}

.page-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.5;
    visibility: hidden;
    z-index: 9999 !important;

    &._visible {
        display: block;
        visibility: visible;
    }
}

.filter {
    background-color: #fff;
    border: 1px solid #929090;
    border-radius: 15px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
    &__button {
        display: flex;
        justify-content: end;
        align-items: center;
        position: relative;
        padding: 0;
        color: #C4321A;
        width: 100%;
        padding: 10px;
        text-align: right;
        svg path {
            transition: fill .3s ease;
        }
        &._active path {
            fill: #C4321A;
        }
        cursor: pointer;
    }
    

    &__button-icon {}

    &__select {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        padding: 10px 0 15px;
        margin: 0;
        &._hidden {
            display: none;
        }
    }

    &__option {}

    &._hidden {
        border-color: transparent;
    }

    &__option-checkbox {
        -webkit-appearance: none;
        appearance: none;
        position: absolute;
    }

    &__option-label {
        position: relative;
        cursor: pointer;

        display: block;
        width: 100%;
        padding: 10px 40px 10px 54px;

        font-weight: 300;
        font-size: 14px;
        line-height: 140%;
        &:hover {
            background-color: #f2f2f2;
        }
        
        &::before {
            content: '';
            display: block;
            width: 14px;
            height: 14px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            border: 1px solid #000;
            border-radius: 2px;
            left: 30px;
        }
        &::after {
            content: '';
            display: block;
            width: 12px;
            height: 12px;
            position: absolute;
            top: 50%;
            transform: translateY(calc(-50% + 1px));
            background: url('../src/images/checkmark.svg') no-repeat;
            background-size: 12px 12px;
            opacity: 0;
            transition: opacity .3s ease;
            left: 32px;
        }
    }

    &__option-checkbox:checked + &__option-label::after {
        opacity: 1;
    }
}

.profile__article-card--body-header {
    margin-bottom: 40px;
}

.profile__article--buttons {
    margin-top: 40px;
}
.article {
    &__details {
        display: flex;
        align-items: center;
        gap: 20px;
    }
    &__description {
        margin: 20px 0 0;
    }
}
.details-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}

.author-img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    overflow: hidden;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.author-name {
    font-weight: 300;
    font-style: Light;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
}

.date-of-publication {
    font-weight: 300;
    font-style: Light;
    font-size: 12px;
    line-height: 140%;
    letter-spacing: 0%;
}

.article__media {
    width: 100%;
    height: 600px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.article__media img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.article__media--paid-content {
    background-image: linear-gradient(bottom, #C4321A, #E5B31A);
    text-align: center;
    padding: 85px 40px 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.article__media--paid-content--v2 {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../src/images/article2.png') no-repeat;
    background-blend-mode: color;
    background-position: top top;
    background-size: cover;
}

.article__media--paid-content > img {
    max-width: 60px;
    max-height: 60px;
}
.paid-content__important {
    padding: 30px 30px 20px;
    background: rgba(255, 255, 255, .25);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}
.paid-content__important p {
    color: var(--color-white);
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 23px;
    line-height: 26px;
    text-align: center;
}

.paid-content__actions {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.paid-content__title {
    color: var(--color-white);
    font-family: "Roboto";
    font-weight: 700;
    font-size: 43px;
    line-height: 90%;
    text-align: center;
}

@media (max-width: 1140px) {
    .articles__title {
        font-weight: 700;
        font-size: 20px;
        line-height: 90%;
    }
    .filter__button svg {
        height: 24px;
    }

    .profile__article-card--body-header {
        margin-bottom: 20px;
        & > img {
            height: 30px;
            width: auto;
        }
    }

    .article {
        &__details {
            gap: 10px;
            .author-img {
                height: 40px;
                width: 40px;
            }
            .details-info {
                gap: 5px;
            }
        }
        &__media {
            height: 400px !important;
        }
        &__description {
            padding: 0 10px;

            font-weight: 400;
            font-size: 12px;
            line-height: 140%;
        }
    }
    .profile__articles--container {
        min-width: 320px;
    }
    .playback-button {
        height: 50px;
        width: 50px;
    }
    .profile__article--buttons {
        margin-top: 20px;

        img {
            height: 20px;
            width: auto;
        }
    }

    .paid-content__title {
        font-size: 20px;
        line-height: 90%;
    }
    
    .article__media--paid-content {
        height: auto;
        padding: 20px;
        gap: 30px;

        > img {
            display: none;
        }
    }

    .paid-content__important {
        padding: 20px;
    }

    .paid-content__important > p {
        margin-bottom: 20px;

        font-weight: 400;
        font-size: 14px;
        line-height: 140%;
    }

    .paid-content__actions {
        gap: 10px;
        .button {
            padding: 5px 10px;
        }
    }

    .profile__articles--container {
        gap: 10px;
    }

    .filter__select {
        padding: 10px 0;
    }

    .filter__option-label {
        padding: 10px 30px 10px 44px;
        font-weight: 500;
        font-size: 12px;
        line-height: 120%;

        &::before {
            left: 20px;
        }

        &::after {
            left: 22px;
        }

    }

    .filter {
        top: -12px;
        background-color: transparent;
        border: 0;

        &__select {
            background-color: var(--color-white);
            border: 1px solid #929090;
            border-radius: 10px;
        }
    }

    .articles__topbar {
        margin: 30px 0;
    }
}

@media (max-width: 768px) {
    .article__media {
        height: 300px !important;
    }
}

@media (max-width: 576px) {
    .article__media {
        height: 200px !important;
    }
    .article__media--paid-content,
    .article__media--paid-content--v2 {
        height: auto !important;
    }
}